@model EmployeeApp.Models.EmployeeModel

@{
    
    ViewData["Title"] = "CreateEmployee";
}
<h2>Create Employee</h2>


@using (Html.BeginForm("CreateEmployee", "Employee", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-lg-6">
            @Html.LabelFor(model => model.ID)
            @Html.TextBoxFor(model => model.ID, "", new { @class = "form-control" })
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name,"", new { @class = "form-control" })
            @Html.LabelFor(model => model.ContractTypeName)
            @Html.TextBoxFor(model => model.ContractTypeName,"", new { @class = "form-control" })
            @Html.LabelFor(model => model.RoleId)
            @Html.TextBoxFor(model => model.RoleId, "", new { @class = "form-control" })
            @Html.LabelFor(model => model.RoleName)
            @Html.TextBoxFor(model => model.RoleName, "", new { @class = "form-control" })
            @Html.LabelFor(model => model.RoleDescription)
            @Html.TextBoxFor(model => model.RoleDescription, "", new { @class = "form-control" })
            @Html.LabelFor(model => model.HourlySalary)
            @Html.TextBoxFor(model => model.HourlySalary, "", new { @class = "form-control" })
            @Html.LabelFor(model => model.MonthlySalary)
            @Html.TextBoxFor(model => model.MonthlySalary,"", new { @class = "form-control" })
        <div>
            <input value="Save" class="btn btn-primary" type="submit" />
        </div>
        </div>
    </div>
}

